body {
  background-color: #1c1c1c;
  color:            #8787af;
  font-family:      monospace;
  font-size:        125%;
}

#container {
  width: 90ex;
  margin: 0 auto;
}

.text {
}

.linenum {
  color: #606060;
}

.symbol {
  color: #8787af;
}

.keyword {
  color: #afd7d7;
}

.string {
  color: #5f87ff;
}

.empty.point {
  margin-right: -1px;
  border-right: 1px solid gold;
}

.point {
  color: black;
  background-color: gold;
}

